input::placeholder {
    text-transform: capitalize;
}

.viewtable {
    zoom: 80%;
}

.viewtable table tr {
    transition: all 0.3s ease;
}

table.dataTable {
    clear: both;
    margin-top: 0px !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

.table-responsive {
    min-height: 68vh;
    box-shadow: 0px 8px 16px #0000001f;
    background: #fff;
    overflow-y: auto;
    margin-bottom: 2rem;
}
.table-responsive-simmah {
    box-shadow: 0px 8px 16px #0000001f;
    background: #fff;
    overflow-y: auto;
    margin-bottom: 2rem;
}

.dashboard-table .table-responsive {
    min-height: 75vh;
    overflow-y: auto;
}

div.table-responsive > div.dataTables_wrapper > div.row:last-child {
    position: absolute !important;
    bottom: -90px !important;
    left: 0 !important;
    padding-bottom: 20px;
}

.table > tbody > tr > td {
    vertical-align: middle;
    /* text-align:center; */
    overflow-wrap: break-word;
    max-width: 300px;
    font-size: 17px;
    line-height: 24px;
    white-space: normal;
    border: none !important;
}

.table thead th {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border: 0;
    background: rgba(233, 0, 10);
    letter-spacing: var(--character-spacing-0);
    color: #ffffff;
    text-align: center;
    border: 0 !important;
    /* border-bottom: 5px solid #fff; */
}

tr td {
    border: 0 !important;
}

.table-responsive tr {
    border-bottom: 1px solid #efefef;
}

.pageSearch.form-control,
.pageSearch.form-select {
    font-size: 13px !important;
}

.viewtable .dropdown-menu {
    right: 0 !important;
    transform: unset !important;
    left: auto !important;
    inset: 30px 0px auto auto !important;
}

.viewtable .dropdown-menu[data-popper-placement="top-end"] {
    inset: -80px 0px auto auto !important;
}

.flex-mode {
    display: flex;
    justify-content: space-between;
    gap: 0.7rem;
    align-items: center;
    padding: 0.8rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e8e8e8;
}

.flex-mode:last-child {
    margin-bottom: 0;
}

.flex-heading,
.flex-text {
    font-size: 14px;
    line-height: 17px;
    color: #1e1e1e;
    margin-bottom: 0;
}

.flex-text {
    font-weight: 600;
    text-align: right;
}

.alert-danger-custom {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success-custom {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.btn-success,
.btn-danger {
    font-size: 14px;
    white-space: nowrap;
    line-height: 1rem;
}

.py-custom {
    padding: 0.4rem 0;
}

.arabic-version {
    text-align: right;
    direction: rtl;
    font-family: "Noto Sans Arabic", sans-serif !important;
}

.text-theme {
    color: #e9000a !important;
}

.bold {
    font-weight: bold;
}

.thead-setting {
    background-color: rgba(233, 0, 10);
    color: #fff;
}

.profile-dd .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 10%);
}

.profile-dd .dropdown-item:active {
    background-color: #e9ecef;
    color: #1e2125;
}

.user-dd {
    width: 300px;
}

.profile-dd .dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
}

.profile-dd .dropdown-item span {
    font-size: 14px;
}

.profile-dd h4 {
    word-break: break-word;
    font-size: 1rem;
    text-transform: capitalize;
}

.profile-dd p {
    word-break: break-word;
    font-size: 0.8rem;
}

.profile-dd-bg {
    background: linear-gradient(-45deg, #e9000a, #e9000a, #e9000a, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    -webkit-animation: gradient 8s ease infinite;
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

@media (max-width: 350px) {
    .user-dd {
        width: 250px;
    }
}

.profile-container {
    background: inherit;
    padding: 1rem;
}

.editProfile-img img.user-img {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    border: 2px solid #fff;
    position: relative;
}

.editProfile-img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    outline: 2px solid #fff;
    outline-offset: 6px;
}

.profile-absolute {
    position: absolute;
    background: linear-gradient(45deg, #e9000a, #e9000a, #e9000a, #e73c7e);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    right: 0px;
    bottom: 0;
    width: 34px;
    height: 34px;
    line-height: 28px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
}

.f-14 {
    font-size: 14px;
}

.f-12,
.font-12 {
    font-size: 12px;
}

/*======Custom Tabs======*/
.nav-pills.myTab .nav-item .nav-link {
    background: #ededed;
    color: #000;
    min-width: 156px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 72px !important;
    border-radius: 0px;
    margin-right: 4px;
    font-size: 12px;
}

.nav-pills.myTab .nav-item .nav-link:hover,
.nav-pills.myTab .nav-item.active .nav-link {
    box-shadow: 0 0 0;
    color: #fff !important;
    background: #e9000a;
    border-radius: 0;
}

ul.nav-pills.myTab,
ul.myTab {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.myTab .card {
    background-color: #fff;
    border-radius: 8px !important;
    position: relative;
    margin-bottom: 50px;
    background: #ffffff;
    border: none !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12) !important;
    border-radius: 16px;
}

.ul.nav-pills.myTab,
ul.myTab {
    padding-bottom: 0.2rem;
}

.nav-tabs::-webkit-scrollbar,
.nav-pills.myTab::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}

.nav-tabs::-webkit-scrollbar-track,
.nav-pills.myTab::-webkit-scrollbar-track {
    background: #f8fafb;
}

.nav-tabs::-webkit-scrollbar-thumb,
.nav-pills.myTab::-webkit-scrollbar-thumb {
    background: #eee;
}

.nav-tabs::-webkit-scrollbar-thumb:hover,
.nav-pills.myTab::-webkit-scrollbar-thumb:hover {
    background: #eee;
}

.navbar-nav .dropdown-item {
    zoom: 80%;
}

h3.welcome-heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge {
    display: inline-block;
    padding: 0.4em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: none;
}

.btn-theme {
    background: #e9000a;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    border-color: #e9000a;
}

.btn-theme-outline,
.btn-theme-outline:hover {
    background: #ffffff;
    color: #e9000a;
    font-size: 14px;
    white-space: nowrap;
    /* line-height: 1rem; */
    border-color: #e9000a;
}

.form-control.f-14 {
    font-size: 14px !important;
}

.btn-theme::before {
    transform: scaleX(0);
    /* transform-origin: bottom right; */
}

.btn-theme:hover::before {
    transform: scaleX(1);
    /* transform-origin: bottom left; */
}

.btn-theme:hover {
    border-color: #606366;
    color: #fff;
}

.btn-theme::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: #606366;
    color: #fff !important;
    z-index: -1;
    transition: transform 0.2s 0.2s cubic-bezier(0.16, 0.73, 0.58, 0.62);
    /* transition: transform 0.3s ease-in; */
}

.btn-theme {
    position: relative;
    z-index: 1;
}

.table tr:nth-child(even):hover {
    background: #ededed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.table tbody tr:nth-child(odd):hover {
    background: #ededed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.bgWhite-otp {
    background: white;
    box-shadow: 0px 3px 6px 0px #cacaca;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.translate {
    z-index: 999;
    transform: translateY(-3rem);
}

.profile-container {
    padding: 1rem;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-warning {
    color: #212529;
    background-color: #ffc107;
}

.badge {
    display: inline-block;
    padding: 0.4em 0.4em;
    font-size: 75%;
    font-weight: 700;
    font-family: "Inter-bold", "Inter", sans-serif !important;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: none;
}

.profile-bg {
    background: linear-gradient(-45deg, #e9000a, #e9000a, #e9000a, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 8rem;
    border-radius: 10px 10px 0px 0px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.profile-container {
    padding: 1rem;
}

.trns {
    transform: translateY(-80px);
}

.f-12,
.font-12 {
    font-size: 12px;
}

.form-control.f-14 {
    font-size: 14px !important;
}

.myTab .form-control,
.myTab .form-select {
    font-size: 14px;
}

/* toggle switch button */
.switch2 {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 14px;
    border-radius: 27px;
    background-color: #ededed;
    cursor: pointer;
    transition: all 0.3s;
}

.switch2 input {
    display: none;
}

.switch2:has(input:checked) {
    background-color: #9f9ff7bd;
}

.switch2 input:checked + div {
    background-color: #e9000a;
    left: calc(100% - 17px);
}

.switch2 div {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #9b9b9b;
    top: -2px;
    left: 0px;
    box-shadow: 0px 0px 0.5px 0.5px rgb(170, 170, 170);
    transition: all 0.2s;
}

.flipInY {
    animation-name: flipInY;
    backface-visibility: visible !important;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.show-eye {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
}

.show-eye.show {
    display: none;
}

.show-eye.close {
    display: block;
}

.show-eye-1 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
}

.show-eye-1.show {
    display: none;
}

.show-eye-1.close {
    display: block;
}

.show-eye-2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
}

.show-eye-2.show {
    display: none;
}

.show-eye-2.close {
    display: block;
}

.container-custom {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

input[type="color"] {
    padding: 0.3rem;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.loaderr {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%, -50%) !important;

    z-index: 999;
}

.bg-light-custom {
    background: rgba(0, 0, 0, 0.3);
}

.loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #e9000a;
    position: relative;
    animation: s4 1s infinite linear;
}

.loading:before,
.loading:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}

.loading:after {
    animation-duration: 4s;
}

@keyframes s4 {
    100% {
        transform: rotate(1turn);
    }
}

.form-otp,
.form-otp .otp {
    direction: ltr !important;
}

.p-theme-set:empty {
    display: none;
}

p {
    word-break: break-word !important;
}

.arabic-lang-landingpage .ck-editor__editable {
    text-align: right !important;
}

.arabic-lang-landingpage .ck-editor,
.arabic-lang-landingpage .flex-content,
.arabic-lang-landingpage {
    direction: rtl;
}

.arabic-lang-landingpage .nav-tabs.nav-tabs-neutral,
.arabic-lang-landingpage .contact-icon,
.arabic-lang-landingpage .contect-info {
    direction: ltr;
}

.arabic-lang-landingpage .whyChoose-link-img,
.arabic-lang-landingpage .card-footer.card-footer-set img {
    transform: rotate(180deg);
}

.arabic-lang-landingpage .content-set {
    padding-right: 0;
    padding-left: 4rem !important;
}

.arabic-lang-landingpage p.img-before {
    margin-left: 0;
    margin-right: 2.5rem;
}

.arabic-lang-landingpage p.img-before:before {
    right: -42px;
}

.arabic-lang-landingpage .container2 {
    padding-right: 1.625rem;
    padding-left: 11rem;
}

.arabic-lang-landingpage footer {
    direction: rtl;
}

.btn-language {
    position: absolute;
    right: 0px;
    top: 225px;
    z-index: 999;
    background-color: #606366;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1rem;
    padding: 4px 10px;
}

.btn-language:hover {
    background-color: #606366;
    color: #fff;
}
.arabic-lang-landingpage .btn-language {
    left: 5px;
    right: unset;
    width: 95px;
}

.btn-language-top {
    position: fixed;
    top: 3px !important;
}
.arabic-lang-landingpage.btnLang-top .btn-language {
    top: 160px;
}
.arabic-lang-landingpage.btnLang-top3 .btn-language {
    top: 90px;
}
.arabic-lang-landingpage .btn-language.langBtn-left {
    left: 280px !important;
}
.arabic-lang-landingpage.btnLang-top3 .btn-language.langBtn-left {
    left: 5px !important;
}

.arabic-lang-landingpage #myButtonModel .form-group {
    text-align: right !important;
}

@media only screen and (max-width: 576px) {
    .arabic-lang-landingpage .container2 {
        padding-right: 1.625rem;
        padding-left: 2rem;
    }
}

@media (max-width: 1200px) {
    .arabic-lang-landingpage .container2 {
        padding-right: 1.625rem;
        padding-left: 6rem;
    }
}

@media (max-width: 992px) {
    .arabic-lang-landingpage .content-set {
        padding-left: 2rem !important;
    }

    .arabic-lang-landingpage .container2 {
        padding-right: 1.625rem;
        padding-left: 4rem;
    }
}

@media (max-width: 767px) {
    .arabic-lang-landingpage .content-set {
        padding-left: 0 !important;
    }
}

/* loading */
.loading-spinner {
    left: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1001;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    color: #e9000a;
    /* text-decoration: underline; */
    font-weight: 700;
    font-family: "Inter-extra-bold", "Inter", sans-serif !important;
    font-size: 50px;
    margin: 4px;
    animation: wave 3s linear infinite;
}

.wave:nth-child(1) {
    animation-delay: 0.1s;
}

.wave:nth-child(2) {
    animation-delay: 0.2s;
}

.wave:nth-child(3) {
    animation-delay: 0.3s;
}

.wave:nth-child(4) {
    animation-delay: 0.4s;
}

.wave:nth-child(5) {
    animation-delay: 0.5s;
}

.wave:nth-child(6) {
    animation-delay: 0.6s;
}

.wave:nth-child(7) {
    animation-delay: 0.7s;
}

.wave:nth-child(8) {
    animation-delay: 0.8s;
}

.wave:nth-child(9) {
    animation-delay: 0.9s;
}

.wave:nth-child(10) {
    animation-delay: 1s;
}

.wave:nth-child(11) {
    animation-delay: 1.1s;
}

.wave:nth-child(12) {
    animation-delay: 1.2s;
}

.wave:nth-child(13) {
    animation-delay: 1.3s;
}

.wave:nth-child(14) {
    animation-delay: 1.4s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

/* end loading */
img.credLogo {
    width: 22%;
}

.creditheader {
    margin-top: 32px;
    border: 2px 2px 2px 2px solid;
    border-radius: 20px 20px 0px 0px;
    border-color: #e9000a !important;
    border-top: 6px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 1rem;
}

.creditreport {
    font-size: 24px;
    font-weight: 700;
    color: #e9000a;
}

.hr-text {
    position: relative;
    border: 0;
    height: 1.5em;
    opacity: 0.5;
}

.hr-text:before {
    content: "";
    background: linear-gradient(to right, transparent, #e9000a, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
}

img.imgcalSty {
    width: 10%;
    filter: sepia(67%) hue-rotate(187deg) saturate(545%);
}

.datSection {
    display: flex;
    align-items: end;
}

.dateColor {
    font-size: 11px;
    color: #e9000a;
    font-weight: 500;
    margin: 2px;
}

.idTxt {
    width: 22px;
    margin: 0px 2px;
    border: 2px solid #d4cfcf;
    background-color: #e9e6e6;
    border-radius: 4px;
}

.detailTxt {
    font-size: 12px;
    font-weight: 500;
    margin: 3px;
}

.dataSection {
    border: 3.5px solid #e9000a;
    padding: 1rem 0.5rem;
}

.forBrdr {
    border-bottom: 2px solid black;
}

.dataSection .row {
    --bs-gutter-x: -0.5rem !important;
}

img.imgWidth {
    width: 50%;
}

.txtim {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.mainDev {
    border: 2px solid #e9000a;
}

.colBgColor {
    background: #e9000a;
}

.thFontSty {
    font-size: 12px;
    color: #e9000a;
}

.tdFontSty {
    font-size: 11px;
    font-weight: 500;
}

.theadBorder {
    border-bottom: 2px solid #e9000a;
}
.vertical-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
}
.text-small-14 {
    font-size: 14px;
}
.text-small-10 {
    font-size: 10px;
}
.text-small-12 {
    font-size: 12px;
}
.bgColorGrey {
    background-color: #d9d7d7;
}
.labeCheckStyle {
    font-size: 12px;
    display: flex;
    gap: 5px;
    padding: 2px 5px;
    border-radius: 4px;
}
.labeCheckStyle:hover {
    background: #eee;
    cursor: pointer;
}
.padder-xy {
    padding: 5rem;
    padding-left: 0;
}
.bg-image-dynamic {
    background-color: #650000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 652px; */
    color: white;
}
p.txt-bold {
    font-family: "Inter-bold", "Inter", sans-serif !important;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    white-space: break-spaces;
}
p.about-head-txt {
    font-family: "Inter-bold", "Inter", sans-serif !important;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
/* .frameStyle {
    padding: 0.6rem;
    border-radius: 6px;
    -ms-transform: scale(2.4);
    background: linear-gradient(-45deg, #495489, #e9a2b9, #e7dbcf, #fff);
    background-size: 400% 400%;
    color: #FFFFFF;
    transition: transform 0.6s ease-in-out;
    animation: gradient 10s ease infinite;
    z-index: -1;
} */
.frameStyle {
    border-radius: 4px;
    box-shadow: rgb(204 195 191) 0px 8px 55px, rgb(204 195 191) 0px 0px 16px,
        rgb(204 195 191) 0px 4px 6px, rgb(204 195 191) 0px 12px 13px,
        rgb(233 204 194) 0px 9px 5px;
}